<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智学创客管理WEB</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/">首页</a></li>
        <li role="presentation"><a href="/webstudent">学生管理</a></li>
        <li role="presentation"><a href="/webclass">课程管理</a></li>
        <li role="presentation"><a href="/webdatashow" target="_blank">数据展示</a></li>
        <li role="presentation"><a href="/webdatacompute">数据分析</a></li>
        <li role="presentation"><a href="/webinfopage">小程序网页接口</a></li>
    </ul>
</nav>
<img src="{{ url_for('static',filename='image/LOGO1.jpg') }}" alt="..." class="img-rounded"
         style="width: 50%;height: 50%">
<br>
<a href="/webluck"><button type="button" class="btn btn-primary">抽奖接口</button></a>
</body>
</html>