<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智学创客管理WEB</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav>
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/">首页</a></li>
        <li role="presentation" class="active"><a href="/webstudent">学生管理</a></li>
        <li role="presentation"><a href="/webclass">课程管理</a></li>
        <li role="presentation"><a href="/webdatashow" target="_blank">数据展示</a></li>
        <li role="presentation"><a href="/webdatacompute">数据分析</a></li>
        <li role="presentation"><a href="/webinfopage">小程序网页接口</a></li>
    </ul>
</nav>
<table class="table table-striped">
    <thead>
        <tr>
            <th>学生编号</th>
            <th>学生姓名</th>
            <th>登记电话</th>
            <th>性别</th>
            <th>年龄</th>
            <th>添加时间</th>
            <td></td>
            <th><a href="/webaddstudent"><button type="button" class="btn btn-primary">添加学生</button></a></th>
        </tr>
    </thead>
    <tbody>
    {% for item in itemlist %}
        <tr>
            <th>{{ item['id'] }}</th>
            <td>{{ item['name'] }}</td>
            <td>{{ item['phonenumber'] }}</td>
            <td>{{ item['sex'] }}</td>
            <td>{{ item['age'] }}</td>
            <td>{{ item['adddate'] }}</td>
            <td><a href=# onclick="javascript:window.open('/webstudent/{{ item['id'] }}','','width=900,height=600,toolbar=no, status=no, menubar=no, resizable=yes, scrollbars=yes');return false;">详情</a></td>
            <td><a href="/webdeletestudent/{{ item['id'] }}">删除</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>