<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智学创客管理WEB</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <a href="/webstudent/{{ id }}"><button type="button" class="btn btn-primary">返回</button></a>
    <br>
    <form method="post" action="/websaddc/{{ id }}">
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>课程编号</th>
                <th>课程名称</th>
                <th>上课日期</th>
            </tr>
            </thead>
            <tbody>
            {% for item in itemlist %}
            <tr>
                <td><input type="radio" name="classRadios" id="classRadios{{ loop.index }}" value="{{ item['id'] }}"></td>
                <th>{{ item['id'] }}</th>
                <td>{{ item['name'] }}</td>
                <td>{{ item['date'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</body>
</html>